// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$sidebar-min-width: 60px;
$sidebar-width: 250px;
$launch-gray: #bdbdbd;
$launch-dark1: #575757;
$launch-gray1: #f0f0f0;
$launch-pink: #eb5757;
$launch-green: #219653;
$launch-yellow: #f2c94c;